.app {
  display: flex;
  height: 100vh;
}

.customer-list {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  max-height: 100vh;
  padding-right: 10px;
}

.customer-card {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.customer-card:hover {
  background-color: #f0f0f0;
}

.customer-card.selected {
  background-color: #d3d3d3;
  border-left: 5px solid #007bff;
}

.customer-list::-webkit-scrollbar {
  width: 4px;
}

.customer-list::-webkit-scrollbar-track {
  background: transparent;
}

.customer-list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 2px;
}

.customer-list {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.customer-details {
  padding: 20px;
  width: 70%;
  margin-left: 10px;
  text-align: center;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.photo-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
